<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>lend-cd</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>{{ cd.name }}</ion-card-header>
    <ion-card-content>
      <p>Auteur : {{ cd.author }}</p>
      <p *ngIf="cd.isLent">Vous avez prété ce cd à {{ cd.destinataire }}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <form [formGroup]=destForm *ngIf="!cd.isLent">
      <ion-list>
        <ion-item>
          <ion-label floating>Nom de l'emprunteur</ion-label>
          <ion-input type="text" formControlName="destinataire"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-row>
      <ion-col>
        <button ion-button
                full
                color="danger"
                [disabled]="cd.isLent || (destForm.invalid)"
                (click)="onSubmitForm()">Preter</button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                color="secondary"
                [disabled]="!cd.isLent"
                (click)="onToggleCd()">Rendu</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
