<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Liste de livres</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <button ion-item
              icon-start
              *ngFor="let book of booksList; let i = index"
              (click)="onLoadBook(book, i)"
              [ngClass]="{ 'is-lent': book.isLent }">
        <ion-icon name="checkmark-circle-outline" *ngIf="!book.isLent" color="secondary"></ion-icon>
        <ion-icon name="close-circle" *ngIf="book.isLent" color="danger"></ion-icon>
        {{ book.name }}
        <p *ngIf="book.isLent" text-center>Vous avez prété ce livre à {{ book.destinataire }}</p>
      </button>
    </ion-list>
    <button ion-button full (click)="onAddElement()">Ajouter un livre</button>
  </ion-content>
