<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>lend-book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
      <ion-card-header>{{ book.name }}</ion-card-header>
      <ion-card-content>
        <p>Auteur : {{ book.author }}</p>
        <p *ngIf="book.isLent">Vous avez prété ce livre à {{ book.destinataire }}</p>
      </ion-card-content>
    </ion-card>
    <ion-grid>

      <form [formGroup]=destForm *ngIf="!book.isLent">
        <ion-list>
          <ion-item>
            <ion-label floating>Nom de l'emprunteur</ion-label>
            <ion-input type="text" formControlName="destinataire"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <ion-row>
        <ion-col>
          <button ion-button
                  full
                  color="danger"
                  [disabled]="book.isLent || (destForm.invalid)"
                  (click)="onSubmitForm()">Preter</button>
        </ion-col>
        <ion-col>
          <button ion-button
                  full
                  color="secondary"
                  [disabled]="!book.isLent"
                  (click)="onToggleBook()">Rendu</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
