<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Liste de cd</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let cd of cdsList; let i = index"
            (click)="onLoadCd(cd, i)"
            [ngClass]="{ 'is-lent': cd.isLent }">
      <ion-icon name="checkmark-circle-outline" *ngIf="!cd.isLent" color="secondary"></ion-icon>
      <ion-icon name="close-circle" *ngIf="cd.isLent" color="danger"></ion-icon>
      {{ cd.name }}
      <p *ngIf="cd.isLent" text-center>Vous avez prété ce cd à {{ cd.destinataire }}</p>
    </button>
  </ion-list>
  <button ion-button full (click)="onAddElement()">Ajouter un cd</button>
</ion-content>
